/ {
	chosen {
		zephyr,display = &ili9341;
	};
};

/* zephyrproject/zephyr/boards/arm/rpi_pico/rpi_pico-pinctrl.dtsi */

&pinctrl {
	spi0_default {
		group1 {
			pinmux = <SPI0_CSN_P17>, <SPI0_SCK_P18>, <SPI0_TX_P19>;
		};
		group2 {
			pinmux = <SPI0_RX_P16>;
			input-enable;
		};
	};
};

&spi0 {
    ili9341: ili9341@0 {
		compatible = "ilitek,ili9341";
		spi-max-frequency = <62500000>;
		reg = <0>;
		reset-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
		cmd-data-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		width = <240>;
		height = <320>;
	};
};